.page-title {
    width: 100%;
    padding: 10px;
    span {
        font-size: 30px;
        font-weight: 800;
        color: var(--color-dark);
    }
    .back-icon {
        font-size: 30px;
        cursor: pointer;
        color: var(--color-bg);
        -webkit-text-stroke: 2px var(--color-dark);
        &:hover {
            color: var(--color-primary);
            -webkit-text-stroke: 1px var(--color-bg);
        }
    }
}
