.dashboard {
	&__intro {
		width: 100%;
		color: $color-white;
		background-color: $color-secondary;
		border-radius: $raddi-10;
		padding: 2rem;
		margin-top: 1rem;

		h2 {
			font-family: $font-secondary;
			font-size: 2.6rem;
		}

		p {
			font-size: 1.4rem;
			line-height: 1.7;
			color: #f2f1ff;
		}
	}
	&__data-summary {
		display: flex;
		justify-content: space-between;
		margin-top: 1.6rem;
		& > div {
			width: 32%;
		}
	}

	&__chartColumn {
		display: flex;
		justify-content: space-between;
		margin-top: 1.6rem;
		&--section {
			height: 40rem;
			width: 49%;
			h2 {
				color: $color-primary;
				text-transform: uppercase;
				font-weight: 400;
			}
		}
	}
}
