.App {
  text-align: center;
}

$theme_bg: #0d0e11;
$theme_primary: #f8c91c;

.App-header {
  background-color: #0d0e11;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
