
.App {
  text-align: center;
}

body {
  background-color: var(--color-bg);
}

.App-header {
  background-color: var(--color-dark);
  min-height: 7.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-bg);
  font-size: 800;
}
tr td span{
  cursor: pointer;
  &:hover {
    font-weight: 400;
    color: var(--color-primary);
  }
}
