$color-primary: #00a0f0;
$color-primary-light: #ccecfc;

$color-secondary: #211e5a;

$color-black: #000000;
$color-white: #ffffff;

$color-grey-light: #acacac;
$color-grey-dark: #1a1a1a;

$font-main: ('Work Sans', sans-serif);
$font-secondary: ('Montserrat', sans-serif);

$raddi-10: 1rem;
$radii-5: 0.5rem;

$primary-button-gradient: -webkit-linear-gradient(267.52deg, #4d90f5 0%, #3172e2 100%);
$primary-button-shadow: 0px 6px 12px -2px rgba(17, 82, 187, 0.2);
$destructive-button-gradient: -webkit-linear-gradient(267.52deg, #ef5775 0%, #d83357 100%);

$modal-overlay: #253755;
