.dashboardContainer {
   height: 90vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dashboard {
    width: 60%;

    .iconRight {
        text-align: right;
    }
}
