input:focus,
select {
	outline: 0 none;
}

a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: $color-black;
}

button:focus {
	outline: none;
}

.page__wrapper {
	@include center;
}

.page__container {
	max-width: 100.24rem;
	width: 98%;
}
